<%- include("partials/header.ejs") %>

<h1>About WebBlog</h1>
<!-- passing the text by using ejs content by rendering the p -->
<p><%= aboutCountentText %></p>
<p>WEBBLOG is built on Forem: open source software designed to empower communities. Because our application is open source, you can inspect every little detail of the code, or chip in yourself! Forem is available for anyone interested in creating similar communities in any niche or passion. Visit our meta Forem, for more information</p>
<strong><h2>Leadership</h2></strong>
<img class="fotoKelvin" src="https://media.licdn.com/dms/image/C4E03AQFFvDyOOJHthA/profile-displayphoto-shrink_800_800/0/1524347381964?e=2147483647&v=beta&t=A0MSQ_X2aUYwaWmyAbWsx9cG55XG3MYWjqmTzC9gbaM" alt="Kelvin Acosta" width="300" height="300">





<%- include("partials/footer.ejs") %>